:root {
    --clr-dark: #070a13;
    --clr-light: #f1f5f9;
    --clr-slate400: #94a3b8;
    --clr-slate600: #475569;
    --clr-slate800: #1e293b;
    --clr-rose: #e11d48;
    --clr-indigo: #4f46e5;
  
    /* rose rgb(225, 29, 72) */
    /* indigo rgb(79, 70, 229) */
  
    /* sizes */
    --size-xxs: 0.5rem;
    --size-xs: 0.75rem;
    --size-sm: 0.875rem;
    --size-base: 1rem;
    --size-lg: 1.125rem;
    --size-xl: 1.25rem;
    --size-2xl: 1.5rem;
    --size-3xl: 1.875rem;
    --size-4xl: 2.25rem;
    --size-5xl: 3rem;
    --size-6xl: 3.75rem;
    --size-7xl: 4.5rem;
    --size-8xl: 6rem;
    --size-9xl: 8rem;
    --size-10xl: 10rem;
  }
  
  * {
    margin: 0;
    line-height: calc(1em + 0.5rem);
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  .light-mode {
    --clr-light: #070a13;
    --clr-dark: #f1f5f9;
    --clr-slate400: #1e293b;
    --clr-slate600: #1e293b;
    --clr-slate800: #1e293b;
  }
  
  body {
    font-family: 'General Sans', sans-serif;
    background-color: var(--clr-dark);
    color: var(--clr-light);
  }
  
  img,
  picture,
  video,
  canvas,
  svg {
    display: block;
    max-width: 100%;
    user-select: none;
  }
  
  button {
    display: inline-block;
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
    color: inherit;
  }
  
  


  a {
    color: var(--clr-rose);
  }
  
  strong {
    color: var(--clr-indigo);
  }
  
  /* Scrollbar */
  body::-webkit-scrollbar {
    width: 8px;
  }
  
  body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 0 rgba(0, 0, 0, 0);
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: var(--clr-rose);
    outline: 1px solid var(--clr-rose);
  }

  .container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  
  .section {
    margin-top: 5rem;
  }
  
  .loading {
    filter: blur(40px) grayscale(100%);
  }
  
  .loaded {
    filter: blur(0) grayscale(0);
    transition: 0.7s ease-in-out;
  }

  .header {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    padding-top: 2rem;
    padding-bottom: 2rem;
    position: relative;
    z-index: 9999;
  }
  .header nav {
    display: flex;
    width: 100%;
    justify-content: space-around;
  }
  
  .header__menu {
    display: none;
  }
  
  .header__bars {
    color: var(--clr-light);
    width: var(--size-2xl);
    height: var(--size-2xl);
    display: block;
    font-size: var(--size-3xl);
  }

  .mobile-nav {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    width: 108vw;
    height: 110vh;
    background-color: var(--clr-dark);
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .mobile-nav__menu {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  
  .mobile-nav__link {
    font-size: var(--size-sm);
    text-decoration: none;
    font-weight: 600;
    color: var(--clr-slate600);
    letter-spacing: -0.05em;
    transition: color 0.3s;
    
  }

  
  .mobile-nav__link i { 
    color: blue;
    background-color: aquamarine;
    border-radius: 45%;
    font-size: 1.4em;
    margin-right: 0.4em;
  }

 
  .mobile-nav__link svg {
    display: inline-block;
    width: 1em; 
    color: blue;
    background-color: aquamarine;
    border-radius: 45%;
    font-size: 1.4em;
    margin-right: 0.4em;
  }
  /*color: blue;
    font-size: 1.4em;
    margin-right: 0.4em;
    */
  
  .mobile-nav__link:hover {
    color: var(--clr-rose);
  }

/* main section */
  .card_container{
    display: grid;
    gap: var(--size-sm) var(--size-xxs);
    grid-template-columns: auto auto;
  }

  .item_card{
    display: flex;
    flex-direction: column;
    /* justify-content: flex-start; */
    align-items: start;
    border: 1px solid grey;
    border-radius: 1rem;
    padding: 2rem;
  }
  .item_card img {
    width: 10em;
    height: 10em;
    margin: auto;
  }
  .item_card h3{
    
    width: 100%;
  }
  .item_card h4{
    font-size: var(--size-3xl);
  }
  .stars{
    display: flex;
  }
  .stars p{
    margin-left: var(--size-xxs);
  }
/* main section */

/* comany icons */
.followup{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: var(--size-2xl);
  margin-bottom: var(--size-2xl);
  /* border: 1px solid white; */

}
.followup div{
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* border: 1px solid rgb(242, 230, 230); */
  padding: var(--size-sm) var(--size-xxs);
}

.followup div .circle_mail{
  border-radius: 50%;
  background-color: var(--clr-rose);
  width: var(--size-5xl);
  height: var(--size-xl);
}

.followup svg{
  width: 50%;
  justify-content: center;
  color: white;
}
.followup div h2{
  margin-left: var(--size-6xl);
}
/* comany icons */
  footer{
    display: flex;
    width: 105vw;
    padding-left: 0;
    padding: 2em 0 ;
    justify-content: space-around;
    background-color: black;
    background-color: var(--clr-dark);
  }

  footer ul{
    list-style: none;
    font-size: calc(var(--size-xxs)*0.7);
    padding-left: 0.1em;
    /* text-wrap:nowrap; */
    
  }
 footer ul li h3{
  font-size: 1.4em;
  }
  footer ul li a {
    display: inline-block;
    font-size: 1.4em;
    text-decoration: none;

  }

  .copywrite{
    background-color: black;
    color: white;
  }
  
  

  
  /* xs */
  @media (min-width: 475px) {
    .container {
      max-width: 475px;
    }
    /* footer{
      width:1vw;
    } */
    footer ul{
      font-size: calc(var(--size-base)*0.9);
    }
    footer ul li {
      font-size: 100%;
    }
    footer ul li a {
      display: inline-block;
      
    }
  }
  
  /* sm */
  @media (min-width: 640px) {
    .container {
      max-width: 640px;
    }
    footer{
      width: 100vw;
    }
    footer ul{
      font-size: calc(var(--size-base)*0.8);
    }
  }
  
  /* md */
  @media (min-width: 768px) {
    .container {
      max-width: 768px;
    }
    .header__menu {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        list-style: none;
        padding: 0;
        gap: 2em;
      }
    
      .header__link {
        display: flex;
        font-size: var(--size-xs);
        text-decoration: none;
        font-weight: 600;
        color: var(--clr-slate600);
        letter-spacing: -0.05em;
        transition: color 0.3s;
      }
    
      .header__link:hover {
        color: var(--clr-rose);
      }
    
      .header__line {
        border: 1px solid var(--clr-slate800);
        padding-top: 1.5em;
      }
      .header__bars {
        display: none;
      }
      .followup div .circle_mail{
        border-radius: 50%;
        background-color: var(--clr-rose);
        width: var(--size-6xl);
        height: var(--size-6xl);
      }
      footer ul{
        font-size: var(--size-base);
      }
  }
  
  /* lg */
  @media (min-width: 1024px) {
    .container {
      max-width: 1024px;
    }
  
    .section {
      margin-top: 10rem;
    }
    
    
    .header__link {
        font-size: var(--size-sm);
      }
      .card_container{
        grid-template-columns: auto auto auto;
      }
      .item_card img {
        width: 8em;
        height: 9em;
      }
      footer{
        width: 100vw;
      }
  }
  
  /* xl */
  @media (min-width: 1280px) {
    .container {
      max-width: 1280px;
    }
  }
  
  /* 2xl */
  @media (min-width: 1536px) {
    .container {
      max-width: 1536px;
    }
  }